<section class="container centered">
  <div class="about">

    {{ with .Site.Params.avatarurl }}
      <div class="avatar"><img src="{{ . }}" alt="avatar"></div>
    {{ end }}
      
    <p>{{ .Site.Params.bio }}</p>
    {{ with .Site.Params.social }}
    <ul>
      {{ range sort .}}
        {{ if .icon }}
          <li><a href="{{ .url }}"><i class="{{ .icon }}"></i></a></li>
        {{ else }}
          <li><a href="{{ .url }}">{{ .name }}</a></li>
        {{ end }}
      {{ end }}
    </ul>

    {{ end }}

    <div style="text-align: left">
      <h3>Recent posts</h3>
      <ul>
        {{ range .Paginator.Pages }}
        <li style="display: block">
          <span>{{ .Date.Format (.Site.Params.dateFormat | default "2006-January-2" ) }}</span>
          <a href="{{ .URL }}" style="text-transform: none;">{{ .Title }}</a>
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
</section>

