<section class="container centered">
  <div class="about">


  <div class="alert alert-info">
  <h3>COVID-19 Update 😷  🦠</h3> 

  If you run a small business and don't have a way to serve your customers online, I can help: <a href="mailto:tobi.lehman@gmail.com">tobi.lehman@gmail.com</a>. I have 15 years of experience in web development and general software engineering. We will get through this together, for our customers.
  </div>

    {{ with .Site.Params.avatarurl }}
      <div class="avatar"><img src="{{ . }}" alt="avatar"></div>
    {{ end }}
      
    <p>{{ .Site.Params.bio }}

By day I work for <a href="https://aws.amazon.com">Amazon Web Services</a> and by night I read about 
the past, think about the future and enjoy the present. Any opinions on this website are my own, not those of my employer.

    </p>
    {{ with .Site.Params.social }}
    <ul>
      {{ range sort .}}
        {{ if .icon }}
          <li><a href="{{ .url }}"><i class="{{ .icon }}"></i></a></li>
        {{ else }}
          <li><a href="{{ .url }}">{{ .name }}</a></li>
        {{ end }}
      {{ end }}
    </ul>

    {{ end }}

    <div style="text-align: left">
      <h3>Recent posts</h3>
      <ul>
        {{ range where (.Paginator 6).Pages "Section" "==" "posts" }}
        <li style="display: block">
          <span>{{ .Date.Format (.Site.Params.dateFormat | default "2006-January-2" ) }}</span>
          <a href="{{ .URL }}" style="text-transform: none;">{{ .Title }}</a>
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
</section>

