<div class="row">
    <div class="col-3"></div>
    <div id="terminal">
            <div>
                {{- $logo := site.Params.logo -}}
                {{- if $logo -}}
                <img class="site logo" src="{{- $logo | relURL -}}" alt />
                {{- end -}}
            </div>
    </div>
    <div class="col-3"></div>
</div>

<script>
var term = new Terminal({
    cursorBlink: "block"
});
var entries = [];
var curr_line = "";
term.open(document.getElementById("terminal"));
term.write("Welcome to tobilehman.com $ ");
term.on("key", function(key, ev) {
    if(ev.keyCode === 13) {
        entries.push(curr_line);
        term.write("\r\n");
        term.prompt();
    } else {
        curr_line += key;
        term.write(key);
    }
});
</script>
