<div class="row">
    <div class="col-3"></div>
    <div class="col-6 centerpiece" >
            <div>
                {{- $logo := site.Params.logo -}}
                {{- if $logo -}}
                <img class="site logo" src="{{- $logo | relURL -}}" alt />
                {{- end -}}
                <span class="site name">{{- site.Title | safeHTML -}}</span> % ls <br />
                <nav>
                    <a href="/about">About</a>
                    <a href="/posts">Posts</a>
                    <a href="/projects">Projects</a>
                    <a href="/tags">Tags</a>
                    <a href="/tags/math">\( \hat{\text{mathposts}} \in \mathbb{R}^n \)</a>
                </nav>
                <span class="site name">{{- site.Title | safeHTML -}}</span> % 
                <span id="blink" contenteditable="true">&#9646;</span>
                <br />
            </div>
    </div>
    <div class="col-3"></div>
</div>