html, body {
        height: 100%;
        margin: 0px;
}

div.card {
    margin: 10px;
}

/** annotated links start */
a {
    text-decoration: underline;
}
a::after {
    content: "";
    display: inline-block;
    position: static;
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: bottom center;
    height: 1.1em;
    width: 1em;
    margin: 0 0 0 2px;
    opacity: 0.60;
    text-decoration: underline;
}

a[href*='nber.org']::after { background-image: url("/images/icons/nber.ico"); }
a[href*='nih.gov']::after { background-image: url("/images/icons/nih.ico"); }
a[href*='state.gov']::after { background-image: url("/images/icons/stategov.png"); }
a[href*='nature.com']::after { background-image: url("/images/icons/nature.svg"); }
a[href*='spacex.com']::after { background-image: url("/images/icons/spacex.ico"); }
a[href*='amazon.com']::after { background-image: url("/images/icons/amazon.svg"); }
a[href*='blog.aboutamazon.com']::after { background-image: url("https://blog.aboutamazon.com/favicon-32x32.png"); }
a[href*='mozilla.org']::after { background-image: url("/images/icons/mozilla.png"); }
a[href*='youtube.com']::after { background-image: url("/images/icons/youtube.ico"); }
a[href*='twitter.com']::after { background-image: url("/images/icons/twitter.ico"); }
a[href*='github.com']::after { background-image: url("/images/icons/github.svg"); }
a[href*='wikipedia.org']::after { background-image: url("/images/icons/wikipedia.svg"); }
a[href*='wolfram.com']::after { background-image: url("/images/icons/mathematica.svg"); }
a[href*='medrxiv.org']::after { background-image: url("/images/icons/medrxiv.ico");}
a[href*='npr.org']::after { background-image: url("/images/icons/npr.png");}
a[href*='eff.org']::after { background-image: url("/images/icons/eff.ico");}
a[href*='cern.ch']::after { background-image: url("/images/icons/cern.ico");}
a[href*='techdirt.com']::after { background-image: url("/images/icons/techdirt.ico");}

/* internal link styles */
a[href*='tobilehman.com']::after { background-image: url("/favicon-16x16.png") }

a[href*='tobilehman.com/about']::after { width: 0em; }
a[href*='tobilehman.com/index.xml']::after { width: 0em; }
a[href*='tobilehman.com/posts']::after { width: 0em; }
a[href*='tobilehman.com/tags']::after {  width: 0em; }

a[href*='/about']::after { width: 0em; }
a[href*='/index.xml']::after { width: 0em; }
a[href*='/posts']::after { width: 0em; }
a[href*='/tags']::after {  width: 0em; }


a[href*='mailto']::after { background-image: url("/images/icons/mail.svg"); }

/*a[href*='../../']::after { background-image: url("/favicon.ico"); }*/
a[href*='nytimes.com']::after { background-image: url("/images/icons/nyt.ico"); }
a[href*='washingtonpost.com']::after { background-image: url("/images/icons/wapo.png"); }
a[href*='theguardian.com']::after { background-image: url("/images/icons/theguardian.ico"); }
a[href*='theatlantic.com']::after { background-image: url("/images/icons/theatlantic.ico"); }
a[href*='housing.wiki']::after { background-image: url("/images/icons/housewiki.png"); }
a[href*='reason.com']::after { background-image: url("/images/icons/reason.png"); }
a[href*='naacp.org']::after { background-image: url("/images/icons/naacp.ico"); }
a[href*='aclu.org']::after { background-image: url("/images/icons/aclu.png"); }
a[href*='theappeal.org']::after { background-image: url("/images/icons/theappeal.png"); }
a[href*='joincampaignzero.org']::after { background-image: url("/images/icons/joincampaignzero.ico"); }
a[href*='supportblackowned.com']::after { background-image: url("/images/icons/sbo.png"); }
/** annotated links end */

.green-note {
  padding: 1em;
  border-style: solid;
  border-color: lightgray;
  background-color: lightgreen;
  overflow-x: scroll;
  overflow-y: hidden;
}

.yellow-note {
  padding: 1em;
  border-style: solid;
  border-color: lightgray;
  background-color: lightyellow;
  overflow-x: scroll;
  overflow-y: hidden;
}

.yellow-note-noscroll {
  padding: 1em;
  border-style: solid;
  border-color: lightgray;
  background-color: lightyellow;
  overflow-x: scroll;
  overflow-y: hidden;
}

.sidescroll {
  width: auto;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.sidescroll > span {
  display: inline-block;
}

.alert-info {
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

.alert {
  padding: 0;
  margin-bottom: 2em;
}

