.yellow-note {
  padding: 1em;
  border-style: solid;
  border-color: lightgray;
  background-color: lightyellow;
  overflow-x: scroll;
  overflow-y: hidden;
}

.yellow-note-noscroll {
  padding: 1em;
  border-style: solid;
  border-color: lightgray;
  background-color: lightyellow;
  overflow-x: scroll;
  overflow-y: hidden;
}

.sidescroll {
  width: auto;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.sidescroll > span {
  display: inline-block;
}