/** annotated links start */
a {
    text-decoration: underline;
}
a::after {
    content: "";
    display: inline-block;
    position: static;
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: bottom center;
    height: 1.1em;
    width: 1em;
    margin: 0 0 0 2px;
    opacity: 0.60;
    text-decoration: underline;
}

a[href*='mailto']::after { background-image: url("/images/icons/mail.svg"); }
a[href*='nber.org']::after { background-image: url("/images/icons/nber.ico"); }
a[href*='nih.gov']::after { background-image: url("/images/icons/nih.ico"); }
a[href*='nature.com']::after { background-image: url("/images/icons/nature.svg"); }
a[href*='spacex.com']::after { background-image: url("/images/icons/spacex.ico"); }
a[href*='amazon.com']::after { background-image: url("/images/icons/amazon.svg"); }
a[href*='wikipedia.org']::after { background-image: url("/images/icons/wikipedia.svg"); }
a[href*='wolfram.com']::after { background-image: url("/images/icons/mathematica.svg"); }

a[href*='../../']::after { background-image: url("/favicon.ico"); }
a[href*='theguardian.com']::after { background-image: url("/images/icons/theguardian.ico"); }
a[href*='theatlantic.com']::after { background-image: url("/images/icons/theatlantic.ico"); }
a[href*='housing.wiki']::after { background-image: url("/images/icons/housewiki.png"); }
a[href*='reason.com']::after { background-image: url("/images/icons/reason.png"); }
a[href*='naacp.org']::after { background-image: url("/images/icons/naacp.ico"); }
a[href*='aclu.org']::after { background-image: url("/images/icons/aclu.png"); }
a[href*='theappeal.org']::after { background-image: url("/images/icons/theappeal.png"); }
a[href*='joincampaignzero.org']::after { background-image: url("/images/icons/joincampaignzero.ico"); }
a[href*='supportblackowned.com']::after { background-image: url("/images/icons/sbo.png"); }
/** annotated links end */

.yellow-note {
  padding: 1em;
  border-style: solid;
  border-color: lightgray;
  background-color: lightyellow;
  overflow-x: scroll;
  overflow-y: hidden;
}

.yellow-note-noscroll {
  padding: 1em;
  border-style: solid;
  border-color: lightgray;
  background-color: lightyellow;
  overflow-x: scroll;
  overflow-y: hidden;
}

.sidescroll {
  width: auto;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.sidescroll > span {
  display: inline-block;
}

.alert-info {
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

.alert {
  padding: 0;
  margin-bottom: 2em;
}

