<!DOCTYPE html>
<html lang="{{- site.Language.Lang -}}">
{{- partial "head.html" . -}}

<body>
    {{- partial "header.html" . -}}
    <section id="content">
        {{- if .IsHome -}}
            <div>
                <b>Death</b> and <b>Taxes</b>. Those are the two certainties. In the 21st century, we can add <b>Software Updates</b> to that list.
                This website is my attempt to deal with the uncertainties of life. My tools are mathematics, programming languages, 
                Bayesian reasoning, and mythology.
                <br />
                The reason I include mythology is because it is the oldest way humans deal with uncertainty.
                Any path forward should study the path traveled thus far.
            </div>
        {{- end -}}
        {{- block "main" . -}}{{- end -}}
    </section>
    {{- partial "footer.html" . -}}
</body>

</html>