{{- define "main" -}}
{{- $paginator := .Paginator -}}

{{- $title := T .Title -}}
{{- if not $title -}}
{{- $title = .Title -}}
{{- end -}}
<section class="article header"><h1>{{- $title -}}</h1></section>
{{- if eq .Section "tags" -}}

    {{ $fontUnit := "rem" }}
    {{ $largestFontSize := 2.0 }}
    {{ $smallestFontSize := 1.0 }}
    {{ $fontSpread := sub $largestFontSize $smallestFontSize }}
    <!--<div>Font size unit: {{ $fontUnit }}</div>
    <div>Font min size: {{ $smallestFontSize }}</div>
    <div>Font max size: {{ $largestFontSize }}</div>
    <div>Font size spread: {{ $fontSpread }}</div>-->

    {{ $max := len (index $.Site.Taxonomies.tags.ByCount 0).Pages }}
    <!--<div>Max tag count: {{ $max }}</div>-->

    {{ $min := len (index $.Site.Taxonomies.tags.ByCount.Reverse 0).Pages }}
    <!--<div>Min tag count: {{ $min }}</div>-->

    {{ $spread := sub $max $min }}
    <!--<div>Tag count spread: {{ $spread }}</div>-->

    {{ $fontStep := div $fontSpread $spread }}    
    <!--<div>Font step: {{ $fontStep }}</div>-->

    <div id="tag-cloud">
        {{ range $name, $taxonomy := $.Site.Taxonomies.tags }} 
            {{ $currentTagCount := len $taxonomy.Pages }}
            {{ $currentFontSize := (add $smallestFontSize (mul (sub $currentTagCount $min) $fontStep) ) }}
            <!--Current font size: {{$currentFontSize}}-->
            <span><a href="{{ "/tags/" | relLangURL }}{{ $name | urlize }}" style="font-size:{{$currentFontSize}}{{$fontUnit}}">{{ $name }} ({{$currentTagCount}})</a></span>
        {{ end }}
    </div>
{{- end -}}

{{- if .Content -}}
<article class="article markdown-body">
    <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
    {{- .Content -}}
</article>
{{- end -}}
<!-- Ranges through content/posts/*.md -->

{{- partial "note-list.html" $paginator -}}
{{- partial "pagination.html" $paginator -}}

{{- end -}}