<div class="row">
    <div class="col-2">
      {{- partial "nav.html" . -}}
    </div>
    <div class="col-8">
    <hr />
    <article>
        Welcome to <a href="https://tobilehman.com">tobilehman.com</a>.
        
        (Yes the terminal is real)
        <p>
            This site has my <a href="/posts">blog posts</a>,
            the <a href="/projects">projects</a> I've been working on, and
            a section <a href="/about">about me</a> if anyone is interested. My ethereum domain name: <a
                href='https://app.ens.domains/name/tobilehman.eth'>tobilehman.eth</a>
        </p>
    </article>

    </div>
    <div class="col-2"></div>
</div>