{{ define "sidebar" }}
    <b>News: </b>
{{ end }}
<div class="row">
    <div class="col-2">
      {{- partial "nav" . -}}
    </div>
    <div class="col-8">
    <article>
        Welcome to <a href="https://tobilehman.com">tobilehman.com</a>.
        
        (Yes the terminal is real)
        <p>
            This site has my <a href="/posts">blog posts</a>,
            the <a href="/projects">projects</a> I've been working on, and
            a section <a href="/about">about me</a> if anyone is interested. My ethereum domain name: <a
                href='https://app.ens.domains/name/tobilehman.eth'>tobilehman.eth</a>
        </p>

        <p class="yellow-note-noscroll">
          <a href="https://docs.google.com/document/d/1xpgBJdTSk5WULQSb5vZwEwhS-UtKheEICqESxWaTjMw/edit?usp=sharing">Join My Book Club</a>

          <br> 
        
          Currently we are reading <a href="https://www.amazon.com/Where-Flying-Car-Storrs-Hall/dp/1953953182">Where is my Flying Car? by J. Storrs Hall</a>

          <br> 
          <br> 
          Started (2021-12-06), we are planning on meeting up to talk about it sometime before new years. If you are interested, go to the Google doc and we can take notes and plan there.
        </p>

    </article>

    </div>
    <div class="col-2">
      {{- partial "news" . -}}
    </div>
</div>