<!DOCTYPE html>
<html>
  {{- partial "head.html" . -}}
  <body>
    {{- partial "header.html" . -}}
    <div id="content">
      {{- block "main" . }}{{- end }}
      {{ if .IsHome }}
      <div class="row">
        <div class="col-2">
          {{- partial "nav.html" . -}}
        </div>
        <div class="col-8">
          Welcome to <a href="https://tobilehman.com">tobilehman.com</a>. 

          (Yes the terminal is real)
          <p>
          This site has my <a href="/posts">blog posts</a>, 
          the <a href="/projects">projects</a> I've been working on, and 
          a section <a href="/about">about me</a> if anyone is interested.
          </p>
        
          <p>
          My ethereum domain name: <a href='https://app.ens.domains/name/tobilehman.eth'>tobilehman.eth</a>
          </p>

          <p>
            <a href="/interest">Notes on interest rates %</a>
          </p>

          <p>
            <a href="/gpus">Notes on GPU Programming</a>
          </p>


        </div>
        <div class="col-2"></div>
      </div>
      <div class="row" style="background-color: whitesmoke; border-top: solid 1px lightgray; border-bottom: solid 2px lightgray;">
        <div class="col-2">
          <p>Latest posts:</p>
          <!-- Add Subscribe Section Here -->
        </div>
        <div class="col-10">
          <row style="background-color: lightgray;">
          {{ range where .Site.Pages ".Params.card" "!=" nil }}
              <div class="col-4 frontpost" style="border: solid 1px lightgray; margin: 5px">
                <div style="height: 200px; overflow: hidden">
                  <a href="{{ .URL }}">
                    <p>{{ .Params.title }}</p>
                    <img src="{{ .Params.card }}" style="width: 200px; padding 20px;"></img>
                  </a>
                </div>
                {{ .Params.date }}
              </div>
          {{ end }}
          </row>

        </div>
      </div>
      {{ end }}
    </div>
    {{- partial "footer.html" . -}}
  </body>
</html>
