<style>
.more-hidden::after {
    content: "\25BA";
}
.more-showing::after {
    content: "\25BC"
}
</style>
<script>

function more() {
    const m = document.getElementById('more-expander');
    const o = document.getElementById('other-menu');
    m.classList.remove('more-hidden');
    m.classList.add('more-showing');
    o.classList.remove('hidden');
    m.innerText = "Less";
}

function less() {
    const m = document.getElementById('more-expander');
    const o = document.getElementById('other-menu');
    m.classList.add('more-hidden');
    m.classList.remove('more-showing');
    m.innerText = "More";
    o.classList.add('hidden');
}

function toggleMoreLess() {
    const m = document.getElementById('more-expander');
    if(m.classList.contains('more-hidden')) {
        more();
    } else {
        less();
    }
}

</script>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/changelog">Changelog</a></li>
        <li><a href="/posts">Posts</a></li>
        <li>
           <a id="more-expander" class="more-hidden" href="javascript:toggleMoreLess()">More</a>
        </li>
        <div id="other-menu" class="hidden">
            <li><a href="/archive">Archive</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/beliefs">Beliefs</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a id="dark-mode-toggle" href="javascript:activateDarkMode">Dark Mode</a></li>
            <li><a href="/links">Links</a></li>
            <li><a href="/tags">#Tags</a></li>
            <li><a href="/notes">Notes</a></li>
            <li><a href="/projects">Projects</a></li>
        </div>
    </ul>
</nav>

