<b>Activity Feed: </b>
<div class="timeline-container">

   <div class="timeline-block timeline-block-left">
      <div class="marker"></div>
      <div class="timeline-content">
         <span>
            made a <a href="https://replit.com/@tlehman/QOI-Compression?v=1">repl</a>
         </span>
         <br>
         <time datetime="2021-11-25 11:00 PST">2021-11-25 11:00 PST</time>
      </div>
   </div>

   <div class="timeline-block timeline-block-right">
      <div class="marker"></div>
      <div class="timeline-content">
         <span>
            pushed a <a href="https://github.com/tlehman/tobilehman.com/commit/f9e5c5e4d53833a12ad3c97328eb22516a0420a8">commit</a>
         </span>
         <br>
         <time datetime="2021-11-21 5:09 PST">2021-11-21 5:09 PST</time>
      </div>
   </div>

   <div class="timeline-block timeline-block-left">
      <div class="marker"></div>
      <div class="timeline-content">
         <span>
            published a <a href="/posts/book-review-atomic-habits"
            style="background-image: url('');">
               book review
            </a>
         </span>
         <br>
         <time datetime="2021-11-21 5:09 PST">2021-10-30 2:19 PDT</time>
      </div>
   </div>

   <div class="timeline-block timeline-block-right">
      <div class="marker"></div>
      <div class="timeline-content">
      </div>
   </div>

</div>
