{{ define "sidebar" }}
    <b>News: </b>
{{ end }}
<div class="row">
    <div class="col-2">
      {{- partial "nav" . -}}
    </div>
    <div class="col-8">
    <article>
        <p>
          Welcome to <a href="https://tobilehman.com">tobilehman.com</a> (the terminal is real).
          This site has my <a href="/posts">blog posts</a>,
          the <a href="/projects">projects</a> I've worked on, and
          a section <a href="/about">about me</a>.
        </p>

        <p>
          I write about <a href="/tags/time">time</a>, <a href="/tags/math">math</a>, <a href="/tags/programming">programming</a>, 
          and <a href="/tags/book-review">books</a> I've read.
        </p>

        <p>
        I believe every problem can be solved. I also acknowledge that every solution creates it's own problems. 
        But I think the rate of solution-production is greater than the rate of problem-production, which 
        means that human life is getting better over time. Further, I believe it's our moral responsibility to 
        understand the root causes of that progress, and to do whatever we can to continue and even accelerate that progress.
        </p>

    </article>

    </div>
    <div class="col-2">
    </div>
</div>