{{ define "sidebar" }}
    <b>News: </b>
{{ end }}
<div class="row">
    <div class="col-2">
      {{- partial "nav" . -}}
    </div>
    <div class="col-8">
    <article>
        <p>
          Welcome to <a href="https://tobilehman.com">tobilehman.com</a> (the terminal is real).
          This site has my <a href="/posts">blog posts</a>,
          the <a href="/projects">projects</a> I've worked on, and
          a section <a href="/about">about me</a>.
        </p>

        <p>
          <h3>Technical Deep Dives</h3>
          <ul>
            <li class="hover-show-hidden"><a href="/posts/sir-model-epidemiology">The SIR Model on novel coronavirus (2020)</a>
              <ul class="hidden">
                <li>Note: this is not supposed to be original research. It's more of an explainer on the math behind the SIR model, loosely applied to COVID-19</li>
              </ul>
            </li>
            <li><a href="/posts/imaginary-numbers-are-real">Imaginary Numbers are Real (2019)</a></li>
            <li><a href="/posts/lossy-image-compression">Lossy Image Compression (2018)</a></li>
            <li><a href="/pdf/ooo.pdf">Object-Oriented Orbits, a physics simulator (2016)</a></li>
          </ul>
        </p>

        <p>
          <h3>Book Reviews</h3>
          <ul>
            <li><a href='/posts/book-review-wheres-my-flying-car/'>Book Review: Where's My Flying Car?</a></li>
            <li><a href='/posts/book-review-perez-trfc/'> Book Review: Technological Revolutions and Financial Capital</a></li>
            <li><a href='/posts/book-review-atomic-habits/'> Book Review: Atomic Habits</a></li>
            <li><a href='/posts/book-review-working-in-public/'>Book Review: Working in Public</a></li>
          </ul>
        </p>

        <p>
        I believe every problem can be solved. I also acknowledge that every solution creates it's own problems. 
        But I think the rate of solution-production is greater than the rate of problem-production, which 
        means that human life is getting better over time. Further, I believe it's our moral responsibility to 
        understand the root causes of that progress, and to do whatever we can to continue and even accelerate that progress.
        </p>

    </article>

    </div>
    <div class="col-2">
    </div>
</div>